@model ErrorViewModel
@{
    ViewData["Title"] = "500 Internal Server Error";
    Layout = "_Container";

    byte digit1 = 5;
    byte digit2 = 0;
    byte digit3 = 0;
}

<link rel="stylesheet" href="~/css/flipclock.css" />
<div style="text-align: center">
    <h1>Internal Server Error</h1>

    <div class="flip-clock-wrapper" style="transform: scale(2); display: flex; align-items: center; justify-content: center; margin: 2em; padding: 4em">
        <ul class="flip">
            <li class="flip-clock-before">
                <a href="#">
                    <div class="up">
                        <div class="shadow"></div>
                        <div class="inn">@digit1</div>
                    </div>
                    <div class="down">
                        <div class="shadow"></div>
                        <div class="inn">@digit1</div>
                    </div>
                </a>
            </li>
            <li class="flip-clock-active">
                <a href="#">
                    <div class="up">
                        <div class="shadow"></div>
                        <div class="inn">@digit1</div>
                    </div>
                    <div class="down">
                        <div class="shadow"></div>
                        <div class="inn">@digit1</div>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="flip">
            <li class="flip-clock-before">
                <a href="#">
                    <div class="up">
                        <div class="shadow"></div>
                        <div class="inn">@digit2</div>
                    </div>
                    <div class="down">
                        <div class="shadow"></div>
                        <div class="inn">@digit2</div>
                    </div>
                </a>
            </li>
            <li class="flip-clock-active">
                <a href="#">
                    <div class="up">
                        <div class="shadow"></div>
                        <div class="inn">@digit2</div>
                    </div>
                    <div class="down">
                        <div class="shadow"></div>
                        <div class="inn">@digit2</div>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="flip">
            <li class="flip-clock-before">
                <a href="#">
                    <div class="up">
                        <div class="shadow"></div>
                        <div class="inn">@digit3</div>
                    </div>
                    <div class="down">
                        <div class="shadow"></div>
                        <div class="inn">@digit3</div>
                    </div>
                </a>
            </li>
            <li class="flip-clock-active">
                <a href="#">
                    <div class="up">
                        <div class="shadow"></div>
                        <div class="inn">@digit3</div>
                    </div>
                    <div class="down">
                        <div class="shadow"></div>
                        <div class="inn">@digit3</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <p>The server encountered an internal error or misconfiguration and was unable to complete your request.</p>
</div>
