@model CountdownConfiguratorViewModel
@{
    ViewData["Title"] = Model.Title;
}

<div class="container">
    <h1>@Model.Heading</h1>
    <form asp-area="" asp-controller="@Model.Controller" asp-action="@Model.Action" method="get">
        @{
            foreach (FormInput fi in Model.Inputs)
            {
                <div class="form-group">
                    <label for="@fi.Name">@fi.Description</label>
                    <input type="@fi.Type" class="form-control" id="@fi.Name" name="@fi.Name" placeholder="@fi.Placeholder">
                </div>
            }
            <button type="submit" class="btn btn-primary">Lagre</button>
        }
    </form>
</div>


