@model CustomBuilderViewModel
@using FerieCountdown.Classes.Countdowns;
@{
    Layout = "_Container";
 ViewData["Title"] = Model.Title;
}

<h1>@Model.Heading</h1>
<form asp-area="" asp-controller="Config" asp-action="@Model.Action">
    @if (Model.UserUsed < Model.UserMax)
    {
        <div class="text-success">Du har @Model.UserUsed av @Model.UserMax av denne typen nedtelling.</div>
    }
    else
    {
        <div class="text-danger">Du har @Model.UserUsed av @Model.UserMax av denne typen nedtelling. Du må slette en eller oppgradere for å kunne lage en ny.</div>
    }
    <br />
    @foreach (FormInput fi in Model.FormInputs)
    {
        <div class="form-group">
            <label for="@fi.Name">@fi.Description</label>
            <input type="@fi.Type" class="form-control" id="@fi.Name" name="@fi.Name" placeholder="@fi.Placeholder" required>
        </div>
    }

    <script>
        function PreviewImage(img) {
            var uri;
            switch (img) {
                @foreach (CountdownBackground cb in Model.BackgroundOptions)
                {
                <text>
                case "@cb.Id":
                    uri = "@cb.Path";
                    break;
                </Text>
                }
            }
            document.getElementById("imgpreview").style.backgroundImage = "url(" + uri + ")";
            document.getElementById("imgpreview").style.display = "block";
            }
    </script>
    <div class="form-group">
        <label for="bg-select">Bakgrunn</label>
        <select class="form-control" id="bg-select" name="background" onchange="PreviewImage(this.value)" required>
            <option selected disabled>-</option>
            @foreach (CountdownBackground cb in Model.BackgroundOptions)
            {
                <option value="@cb.Id">@cb.CommonName</option>
            }
        </select>
    </div>
    <div id="imgpreview" style="width: 512px; height: 288px; margin-left:auto;margin-right:auto; margin-bottom: 1em; background-position:center; background-repeat: no-repeat; background-size: 100% 100%;display:none;"></div>
    <button type="submit" class="btn btn-primary">Lagre</button>
</form>

