@model MyCountdownsViewModel
@{
    ViewData["Title"] = "Mine Nedtellinger";
    Layout = "_container";
    Dictionary<string, Dictionary<string, string>> cds = new Dictionary<string, Dictionary<string, string>>
    {
        {
            "Bursdag",
            Model.Countdowns.BirthdayCountdowns
        },
        {
            "Konfirmasjon",
            Model.Countdowns.ConfirmationCountdows
        },
        {
            "Bryllup",
            Model.Countdowns.WeddingCountdowns
        },
        {
            "Egendefinerte",
            Model.Countdowns.CustomCountdown
        }
    };
    int emptycats = 0;
}

<h1>@ViewData["Title"]</h1>
<br />

@foreach (KeyValuePair<string, Dictionary<string, string>> cat in cds)
{
    if (cat.Value.Count > 0)
    {
        <h3>@cat.Key</h3>
        <br />
        foreach (KeyValuePair<string, string> data in cat.Value)
        {
            string i = data.Key;
            string name = data.Value;
            string collapseid = string.Format("collapse{0}", i);
            string delformid = "deleteform-" + i;
            string delmodid = "delmod-" + i;

            <!-- Deletemodal-->
            <div class="modal fade" id="@delmodid" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Er du sikker på at du ønsker å slette @name?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Den vil bli permanent slettet
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
                            <a class="btn btn-danger" href="/Config/DeleteCountdown/@i">Slett nedtelling</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <button class="btn btn-block text-center" type="button" data-toggle="collapse" data-target="#@collapseid" aria-expanded="false" aria-controls="@collapseid" style="font-size: 14pt">
                    @name
                </button>
                <div class="row collapse p-4" id="@collapseid">
                    <a class="btn btn-secondary col m-1" href="/Config/EditCountdown/@i" target="_blank">Rediger nedtelling</a>
                    <a class="btn btn-primary col m-1" href="/Countdown/Custom/@i" target="_blank">Vis nedtelling</a>
                    <button class="btn btn-danger col m-1" data-toggle="modal" data-target="#@delmodid">Slett nedtelling</button>
                </div>
            </div>
        }
        <br />
        <hr />
        <br />
    }
    else emptycats++;
}

@if (emptycats == 4)
{
<p>
    Du har ingen nedtellinger. Lag en <a asp-area="" asp-action="Birthday" asp-controller="Config">bursdagsnedtelling</a>,
    <a asp-area="" asp-action="Confirmation" asp-controller="Config">konfirmasjonsnedtelling</a>,
    <a asp-area="" asp-action="Wedding" asp-controller="Config">bryllupsnedtelling</a>,
    eller <a asp-area="" asp-action="Custom" asp-controller="Config">egendefinert nedtelling</a>.
</p>
}