@using FerieCountdown.Classes
@{
    Layout = "_Container";
    ViewData["Title"] = "Opphavsrett";
}

<h1>Opphavsrett</h1>

<p>
    Nettsiden er &copy; FerieCountdown og Simen Eilevstjønn @DateTime.UtcNow.Year. Biblioteker og bilder er &copy; deres eigere som beskrevet under.
</p>

@{
    List<CopyrightItem> Libaries = new List<CopyrightItem>
    {
        new CopyrightItem("FlipClock", "MIT Liscense", "Justin Kimbrell / Objective HTML", "http://flipclockjs.com/", string.Empty),
        new CopyrightItem("jQuery", "MIT Liscense", "jQuery Foundation, Inc.", "https://jquery.org/", string.Empty),
        new CopyrightItem("Bootstrap", "MIT Liscense", "The Bootstrap Authors / Twitter Inc.", "https://getbootstrap.com/", string.Empty),
        new CopyrightItem("Newtonsoft.Json", "MIT Liscense", "James Newton-King / Newtonsoft", "https://www.newtonsoft.com/json", string.Empty),
        new CopyrightItem("Microsoft Asp.Net Core", "All Rights Reserved", "Microsoft Corporation", "https://asp.net/", string.Empty),
    };

    List<CopyrightItem> Pictures = new List<CopyrightItem>
    {
        //Odd skjæveland images
        new CopyrightItem("Høstfarger i fjellet", "All Rights Reserved", "Odd Skjæveland 2008", string.Empty, "https://static.feriecountdown.com/resources/background/autumn.jpg"),
        new CopyrightItem("Snø på Hommeland", "All Rights Reserved", "Odd Skjæveland 2008", string.Empty, "https://static.feriecountdown.com/resources/background/winter.jpg"),
        new CopyrightItem("Båt på stranda", "All Rights Reserved", "Odd Skjæveland 2015", string.Empty, "https://static.feriecountdown.com/resources/background/beachboat.jpg"),
        new CopyrightItem("Solnedgang ved Vistnes", "All Rights Reserved", "Odd Skjæveland 2011", string.Empty, "https://static.feriecountdown.com/resources/background/sunset.jpg"),
        new CopyrightItem("Sjøhus speiles i vannet", "All Rights Reserved", "Odd Skjæveland 2012", string.Empty, "https://static.feriecountdown.com/resources/background/housesbysea.jpg"),
        new CopyrightItem("M/S Polarlys og M/S Midnattsol nær kai", "All Rights Reserved", "Odd Skjæveland 2012", string.Empty, "https://static.feriecountdown.com/resources/background/mspolarlys.jpg"),
        //Joar Eilevstjønn images
        new CopyrightItem("Hong Kong Skyline", "All Rights Reserved", "Joar Eilevstjønn 2015", string.Empty, "https://static.feriecountdown.com/resources/background/hongkongskyline.jpg"),
        new CopyrightItem("Palmeblader", "All Rights Reserved", "Joar Eilevstjønn 2016", string.Empty, "https://static.feriecountdown.com/resources/background/palmleaves.jpg"),
        //Adobe stock images
        new CopyrightItem("interior christmas. magic glowing tree, fireplace, gifts", "Adobe Stock Standard Liscense", "JenkoAtaman via Adobe Stock", "https://stock.adobe.com/no/images/interior-christmas-magic-glowing-tree-fireplace-gifts/180494020", "https://static.feriecountdown.com/resources/background/christmaslivingroom.jpg"),
        new CopyrightItem("Christmas tree and xmas market at Kleber Square at night in medieval city of Strasbourg - capital of Noel, Alsace, France.", "Adobe Stock Standard Liscense", "Mari79 via Adobe Stock", "https://stock.adobe.com/no/images/christmas-tree-and-xmas-market-at-kleber-square-at-night-in-medieval-city-of-strasbourg-capital-of-noel-alsace-france/278787641", "https://static.feriecountdown.com/resources/background/christmastreeoutdoor.jpg"),
        new CopyrightItem("Colorful classrom without student", "Adobe Stock Standard Liscense", "archideaphoto via Adobe Stock", "https://stock.adobe.com/no/images/colorful-classrom-without-student/269363847", "https://static.feriecountdown.com/resources/background/classroom.jpg"),
        new CopyrightItem("Little Bunny In Basket With Decorated Eggs - Easter Card", "Adobe Stock Standard Liscense", "Romolo Tavani via Adobe Stock", "https://stock.adobe.com/no/images/little-bunny-in-basket-with-decorated-eggs-easter-card/193271744", "https://static.feriecountdown.com/resources/background/easter.jpg"),
        new CopyrightItem("Halloween pumpkin head jack lantern", "Adobe Stock Standard Liscense", "Alexander Raths via Adobe Stock", "https://stock.adobe.com/no/images/halloween-pumpkin-head-jack-lantern/153868159", "https://static.feriecountdown.com/resources/background/halloween.jpg"),
        new CopyrightItem("Amazing beautiful colorful fireworks display on celebration night, showing on the sea beach with multi color of reflection on water", "Adobe Stock Standard Liscense", "totojang1977 via Adobe Stock", "https://stock.adobe.com/no/images/amazing-beautiful-colorful-fireworks-display-on-celebration-night-showing-on-the-sea-beach-with-multi-color-of-reflection-on-water/271388045", "https://static.feriecountdown.com/resources/background/fireworks.png"),
        new CopyrightItem("children's parade, oslo, norway", "Adobe Stock Standard Liscense", "Albert Teich via Adobe Stock", "https://stock.adobe.com/no/images/children-s-parade-oslo-norway/1775221", "https://static.feriecountdown.com/resources/background/17may.jpg"),
        new CopyrightItem("3d modern office interior render", "Adobe Stock Standard Liscense", "DigitalGenetics via Adobe Stock", "https://stock.adobe.com/no/images/3d-modern-office-interior-render/250640095", "https://static.feriecountdown.com/resources/background/office.jpg"),
        new CopyrightItem("abstract colored dust explosion on a black background.abstract powder splatted background,", "Adobe Stock Standard Liscense", "kitsana via Adobe Stock", "https://stock.adobe.com/no/images/abstract-colored-dust-explosion-on-a-black-background-abstract-powder-splatted-background/263804623", "https://static.feriecountdown.com/resources/background/abstractcolours.jpg"),
        //Shutterstock images
        new CopyrightItem("Top view of an attractive young fitness woman using mobile phone while resting at the beach after jogging", "Shutterstock standard liscense", "Shift Drive via Shutterstock", "https://www.shutterstock.com/image-photo/top-view-attractive-young-fitness-woman-1362941174", "https://static.feriecountdown.com/resources/background/shutterstock/trainingwomanbeachphone.jpg"),
        new CopyrightItem("Backlit roses beside a conservatory window", "Shutterstock standard liscense", "AngieC333 via Shutterstock", "https://www.shutterstock.com/image-photo/backlit-roses-beside-conservatory-window-1117097525", "https://static.feriecountdown.com/resources/background/shutterstock/rose.jpg"),
        new CopyrightItem("Abstract of the leaves with water drops on it with abstract background of Blue color. Abstract background of Blue and white color", "Shutterstock standard liscense", "Sapan Unhale via Shutterstock", "https://www.shutterstock.com/image-photo/abstract-leaves-water-drops-on-background-785878726", "https://static.feriecountdown.com/resources/background/shutterstock/blueleaves.jpg"),
        new CopyrightItem("Echinops veitch's blue", "Shutterstock standard liscense", "Powerofflowers via Shutterstock", "https://www.shutterstock.com/image-photo/echinops-veitchs-blue-1031005477", "https://static.feriecountdown.com/resources/background/shutterstock/echinops.jpg"),
        new CopyrightItem("A beautiful photograph a scots pine forest on the Dorset Coast in England, United Kingdom with the sun filtering through the branches.", "Shutterstock standard liscense", "Thomas Feige via Shutterstock", "https://www.shutterstock.com/image-photo/beautiful-photograph-scots-pine-forest-on-1134744794", "https://static.feriecountdown.com/resources/background/shutterstock/pineforest.jpg"),
        new CopyrightItem("forest in valley at foggy sunrise. gorgeous mountain scenery in autumn", "Shutterstock standard liscense", "Greens and Blues via Shutterstock", "https://www.shutterstock.com/image-photo/forest-valley-foggy-sunrise-gorgeous-mountain-736358620", "https://static.feriecountdown.com/resources/background/shutterstock/forestvalley.jpg"),
        new CopyrightItem("Waterfall in forest near Lago d'Orta", "Shutterstock standard liscense", "Michael Grund via Shutterstock", "https://www.shutterstock.com/image-photo/waterfall-forest-near-lago-dorta-1062260201", "https://static.feriecountdown.com/resources/background/shutterstock/waterfall.jpg"),
        new CopyrightItem("Two wooden boats, blue and red, reflecting in the water, moored against two sets of reeds at the lake of Ochrid, FYROM, Southern Europe", "Shutterstock standard liscense", "GEORGE STAMATIS via Shutterstock", "https://www.shutterstock.com/image-photo/two-wooden-boats-blue-red-reflecting-682177948", "https://static.feriecountdown.com/resources/background/shutterstock/woodenboats.jpg"),
        new CopyrightItem("Beautiful young african woman wearing coat walking outdoors at the park, carrying backpack ", "Shutterstock standard liscense", "Shift Drive via Shutterstock", "https://www.shutterstock.com/image-photo/beautiful-young-african-woman-wearing-coat-1363004528", "https://static.feriecountdown.com/resources/background/shutterstock/womaninpark.jpg"),
        new CopyrightItem("The Taiwan Friendship Bridge (Puente La Amistad de Taiwan) in Costa Rica", "Shutterstock standard liscense", "Antonello Aringhieri via Shutterstock", "https://www.shutterstock.com/image-photo/taiwan-friendship-bridge-puente-la-amistad-1113586730", "https://static.feriecountdown.com/resources/background/shutterstock/bridge.jpg"),
        new CopyrightItem("Smiling asian athlete man wearing sportswear using mobile phone while standing at park", "Shutterstock standard liscense", "Shift Drive via Shutterstock", "https://www.shutterstock.com/image-photo/smiling-asian-athlete-man-wearing-sportswear-1355085596", "https://static.feriecountdown.com/resources/background/shutterstock/maninpark.jpg"),
        new CopyrightItem("Florence city view. Dome view through the trees as a window frame. Black and White Florence", "Shutterstock standard liscense", "NataliaRoitman via Shutterstock", "https://www.shutterstock.com/image-photo/florence-city-view-dome-through-trees-790448773", "https://static.feriecountdown.com/resources/background/shutterstock/florence.jpg"),
        new CopyrightItem("series traveling girl in Asia. Old indonesian gate. beautiful girl with long dark hair in elegant grey dress posing in beautiful nature place in Bali. ", "Shutterstock standard liscense", "True Touch Lifestyle via Shutterstock", "https://www.shutterstock.com/image-photo/series-traveling-girl-asia-old-indonesian-1060518125", "https://static.feriecountdown.com/resources/background/shutterstock/indonesiangate.jpg"),
        new CopyrightItem("Illustration of creative office workspace interior in flat design style on gray background. Desktop computer, wooden table, chair, clock, books etc. ", "Shutterstock standard liscense", "Leonid Zarubin via Shutterstock", "https://www.shutterstock.com/image-vector/illustration-creative-office-workspace-interior-flat-776982439", "https://static.feriecountdown.com/resources/background/shutterstock/office.jpg")
    };
}

<h2>Biblioteker</h2>
<div class="container">
    @foreach (CopyrightItem lib in Libaries)
    {
        <h4>@lib.Name</h4>
        <div class="row">
            <div class="col-6">
                &copy; @lib.CopyrightHolder<br />
                @lib.Liscense<br />
                <a href="@lib.Link">@lib.Link</a>
            </div>
            <div class="col-6">
                <img src="@lib.Image" class="img-fluid" />
            </div>
        </div>
        <hr />
        <br />
    }
</div>

<h2>Bilder</h2>
<div class="container">
    @foreach (CopyrightItem lib in Pictures)
    {
        <h4>@lib.Name</h4>
        <div class="row">
            <div class="col-6">
                &copy; @lib.CopyrightHolder<br />
                @lib.Liscense<br />
                <a href="@lib.Link">@lib.Link</a>
            </div>
            <div class="col-6">
                <img src="@lib.Image" class="img-fluid" />
            </div>
        </div>
        <hr />
        <br />
    }
</div>
