@model HttpErrorViewModel
@{
    ViewData["Title"] = Model.StatusCode + " " + Model.ErrorTitle;
    Layout = "_Container";

    char digit1 = Model.StatusCode.ToString()[0];
    char digit2 = Model.StatusCode.ToString()[1];
    char digit3 = Model.StatusCode.ToString()[2];
}

<link rel="stylesheet" href="~/css/flipclock.css" />
<div style="text-align: center">
    <h1>@Model.ErrorTitle</h1>

    <div class="flip-clock-wrapper" style="transform: scale(2); display: flex; align-items: center; justify-content: center; margin: 2em; padding: 4em">
        <ul class="flip">
            <li class="flip-clock-before">
                <a href="#">
                    <div class="up">
                        <div class="shadow"></div>
                        <div class="inn">@digit1</div>
                    </div>
                    <div class="down">
                        <div class="shadow"></div>
                        <div class="inn">@digit1</div>
                    </div>
                </a>
            </li>
            <li class="flip-clock-active">
                <a href="#">
                    <div class="up">
                        <div class="shadow"></div>
                        <div class="inn">@digit1</div>
                    </div>
                    <div class="down">
                        <div class="shadow"></div>
                        <div class="inn">@digit1</div>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="flip">
            <li class="flip-clock-before">
                <a href="#">
                    <div class="up">
                        <div class="shadow"></div>
                        <div class="inn">@digit2</div>
                    </div>
                    <div class="down">
                        <div class="shadow"></div>
                        <div class="inn">@digit2</div>
                    </div>
                </a>
            </li>
            <li class="flip-clock-active">
                <a href="#">
                    <div class="up">
                        <div class="shadow"></div>
                        <div class="inn">@digit2</div>
                    </div>
                    <div class="down">
                        <div class="shadow"></div>
                        <div class="inn">@digit2</div>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="flip">
            <li class="flip-clock-before">
                <a href="#">
                    <div class="up">
                        <div class="shadow"></div>
                        <div class="inn">@digit3</div>
                    </div>
                    <div class="down">
                        <div class="shadow"></div>
                        <div class="inn">@digit3</div>
                    </div>
                </a>
            </li>
            <li class="flip-clock-active">
                <a href="#">
                    <div class="up">
                        <div class="shadow"></div>
                        <div class="inn">@digit3</div>
                    </div>
                    <div class="down">
                        <div class="shadow"></div>
                        <div class="inn">@digit3</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <p>@Model.ErrorDescription</p>
</div>
