@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrer deg";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Lag ny bruker</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email">E-postadresse</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password">Passord</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword">Bekreft Passord</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Register deg</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>&nbsp;<br />Registrer deg med eksterne tjenester</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    if (provider.Name == "Google")
                                    {
                                        <button type="submit" class="btn" name="provider" value="@provider.Name" title="Registrer deg med din @provider.DisplayName account">
                                            <img src="https://static.feriecountdown.com/resources/signin-assets/btn_google_signin_dark_normal_web%402x.png" style="width:215px" />
                                        </button><br />
                                    }
                                    else if (provider.Name == "Microsoft")
                                    {
                                        <button type="submit" class="btn" name="provider" value="@provider.Name" title="Registrer deg med din @provider.DisplayName account">
                                            <img src="https://static.feriecountdown.com/resources/signin-assets/ms-symbollockup_signin_dark.svg" />
                                        </button>
                                    }
                                }
                                <style>
                                </style>
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
